{{> menu active="dashboard"}}

<section class="section">
  <div class="title">
    {{county.county}}

  </div>
  {{> list-dealers}}
  
</section>
<a href="/brandcounties/{{userId}}" class="ui button">Back to Brand User Counties</a>