{{> menu active="dashboard"}}

<section class="section">
  <div class="box">
    I'm in a box.
    <a href="/counties" class="button is-info">
      Manage Counties and Dealerships
    </a>
  </div>
  <div class="box">
    I'm in a box.
    <a href="/cartype" class="button is-info">
      Manage Car Types
    </a>
  </div>
  {{!-- {{> list-counties showBrandOption=showBrandOption}}
  {{#if showBrandOption}}
    {{> add-county}}
    {{> add-car-type}}
  {{/if}}
  {{#each messages}}
    <div class="alert alert-info">
      {{this}}
    </div>
  {{/each}} --}}
</section>
