{{> menu active="dashboard"}}

<section class="section">
  <div class="box">
    <div class="block">
      <p>User area block 1</p>
    </div>
  </div>
  <div class="box">
    <div class="block">
      <p>User area block 2</p>
    </div>
  </div>
</section>
