{{> menu active="envirobuddy"}}

<section class="section">
  {{> filter-menu}}
  {{> dealer-map}}
  <div class="box">
    <div class="block">
      <p>User area block 2</p>
    </div>
  </div>
</section>
