
  <form action="/dashboard/addcounty" method="POST">
    <div class="field">
      <label class="label">County Title</label>
      <input class="input" type="text" placeholder="Enter county title" name="title">
    </div>
    <button class="button is-link">Add County</button>
  </form>
