<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{> envirobuddy-brand}}
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button" id="login" href="/login"> Log in </a>
          <a class="button" id="signup" href="/signup"> Sign up </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  let activeElement = document.getElementById("{{active}}");
  if (activeElement) {
      activeElement.classList.add("is-primary");
  } else {
      console.error(`Element with id '{{active}}' not found`);
  }
</script>
